:root {
  --current-background: url("../img/bg/main-menu.png");
  /* --current-background: url("https://wallpaperaccess.com/full/28488.jpg"); */
  --main-font: 'Roboto', sans-serif;
  --cell-size: (2em);
  --peek-zone: .25;
  --matrix-width: 10;
  --matrix-height-base: 20;
}
@media only screen and (max-width: 600px) {
  :root {
    font-size: .7em;
  }
}
@keyframes pulse-darkness {
  from {filter: brightness(1)}
  to {filter: brightness(0)}
}
@keyframes pulse {
  from {filter: brightness(1.1)}
  to {filter: brightness(0.9)}
}
@keyframes pulse-opacity {
  from {opacity: 1}
  to {opacity: 0.25}
}
@keyframes bob {
  from {padding-left: .15em}
  to {padding-left: .35em}
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  background-color: #000;
}
#main {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-image: var(--current-background);
  background-size: cover;
  width: 100%;
  height: 100%;
}
#description-text {
  font-size: 1.5rem;
}
#menu-container {
  font-size: 2rem;
  margin-left: 1rem;
  color: #fff;
}
#menu-container.hidden,
#game-container.hidden
{
  display: none;
}
#game-container.faded
{
  opacity: 0.1;
}
#vertical-menu {
  margin-left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: transform .5s, opacity .5s;
}
#vertical-menu.hidden {
  transform: translateX(-8em);
  opacity: 0;
}
#vertical-menu li {
  list-style-type: none;
  list-style-position: inside;
  margin-top: .25em;
  margin-bottom: .25em;
  border-left-color: #fff;
  border-left-style: solid;
  border-left-width: 0em;
  margin-left: 0;
  transition: font-size .1s, border-left-width .1s;
  cursor: pointer;  
}

.pulse {
  animation-name: pulse;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
#vertical-menu li.control-name {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: .2em;
  cursor: auto;
}
#vertical-menu li.selected {
  font-weight: 300;
  font-size: 2em;
  border-left-width: .05em;
  padding-left: .25em;
  animation-name: bob;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#logo-container {
  max-width: 15em;
  padding: 1em;
}
#button-hint-container {
  position: absolute;
  bottom: 1em;
  right: 1em;
  transition: transform .05s;
}
#button-hint-container table {
  font-size: .9em;
  height: 2em;
  display: inline-block;
  margin-left: 1em;
}
#button-hint-container table .label {
  color: #fff;
  font-size: 2em;
  padding-left: .2em;
}
#button-hint-container table .key {
  color: #111;
  background-color: #fff;
  width: 1.6em;
  text-align: center;
  font-size: 1.5em;
  vertical-align: middle;
}
#button-hint-container table .key.multi {
  font-size: 1em;
  font-weight: 700;
  width: 2.4em;
}
#button-hint-container table .key.big {
  width: 3.6em;
  
}
#button-hint-container table .key.controller {
  border-radius: 100%;
}
#button-hint-container table .key.dpad {
  font-size: 2em;
  background-color: transparent;
  color: white;
  width: 0;
}
#button-hint-container table .icon {
  font-family: 'Material Icons';
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
#game-container {
  --matrix-height: calc(var(--matrix-height-base) + var(--peek-zone));
  font-size: calc(var(--cell-size)/2);
  text-align: center;
  vertical-align: middle;
  height: 100%;
}
.sprite-canvas {
  background-color: red;
}
.game {
  display: inline-block;
  padding: 2em;
  margin: auto;
  
}
.game.paused canvas {
  opacity: 0;
}
.game div {
  float: left;
}
.game div div {
  box-sizing: border-box;
  float: none;
}
.stats {
  height: calc(--matrix-height-base * 1.55);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.stats div.stat-group {
  text-align: right;
  margin-right: .45em;
}
.stats div.stat-group div {
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 1em;
  padding-right: .5em;
}
.stats div.stat-group div.big {
  color: #fff;
  font-size: 2.5em;
  font-weight: 200;
  margin-bottom: .4em;
  padding-right: .2em;

}
.stats label {
  display: inline-block;
  background-color: #fff;
  font-weight: bold;;
  font-size: 1.2em;
  padding: .2em 1em;
  margin-bottom: .4em;
  color: #111;
  text-transform: uppercase;
}
.game-left,
.game-right {
  margin-top: -.5em;
}
.game-center {
  position: relative;
  -webkit-backdrop-filter: blur(5em);
  backdrop-filter: blur(5em);
  width: calc(var(--matrix-width) * var(--cell-size));
  height: calc(var(--matrix-height) * var(--cell-size));
  background-size: calc(100% / var(--matrix-width)) calc(100% / var(--matrix-height));
  background-color: #000a;
  background-image: url(../img/tetrion/grid-bg-cross.svg);
  background-position: left bottom;
  outline-color: #fff;
  outline-style: solid;
  outline-width: .5em;
}
.game-right {
  text-align: left;

}
.game-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hold-container,
.main-next-container {
  padding-left: 1em;
  padding-right: 1em;
}
.hold-canvas,
.main-next-canvas {
  width: calc(4 * var(--cell-size));
  height: calc(4 * var(--cell-size));

}

.sub-next-container {
  --next-count: 6;
  display: inline-block;
  margin-left: 1em;
  padding: 0;
}
.sub-next-canvas {
  margin: 0;
  padding: 0;
  width: calc(4 * var(--cell-size) * .62);
  height: calc(4 * var(--cell-size) * var(--next-count) * .62);
}

.next-label,
.hold-label {
  color: #fff;
  margin: 0;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: .3em;
}
.next-label {
  text-align: left;
}
.hold-label {
  text-align: right;
  margin-right: -.3em;
}
.delay-time {
  position: absolute;
  color: white;
  text-align: right;
  width: 6em;
  bottom: -2.3em;
  left: -7em;
}
.manip-grid {
  position: absolute;
  display: grid;
  width: 105%;
  left: -.5em;
  bottom: -1.25em;
  justify-content: space-between;
}
.manip-pip {
  grid-row: 1;
  background-color: white;
  width: .5em;
  height: .5em;
  border-radius: 100%;
}
.manip-pip.disabled {
  background-color: #000a;
}
.lockdown-meter {
  position: absolute;
  width: 105%;
  left: -.5em;
  bottom: -2em;
}
progress[value]  {
  -webkit-appearance: none;
  background-color: #000a;
  border: none;
  height: .5em;
  
}
progress[value="0"] {
  animation-name: pulse-darkness;
  animation-duration: .2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Chrome */
progress[value]::-webkit-progress-bar {
  background-color: transparent;
}
progress[value="0"]::-webkit-progress-bar {
  background-color: #f00;
}
progress[value]::-webkit-progress-value {
  background-color: #fff;
}

 
/* Firefox */
progress[value]::-moz-progress-bar {
  background-color: #fff;
}
.game .pause {
  display: none;
}
.game.paused .pause {
  animation-name: pulse-opacity;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  display: block;
  color: white;
  font-size: 3em;
  font-weight: 300;
  position: absolute;
  top: 2em;
  width: 100%;
}
.game .main-message {
  animation-name: pulse-opacity;
  animation-duration: .2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  display: block;
  color: white;
  font-size: 3em;
  font-weight: 300;
  position: absolute;
  top: 6em;
  width: 100%;
}
.game .main-message.dissolve {
  animation-name: dissolve;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes dissolve {
  0% {transform: scale(1);}
  20% {opacity: 1;}
  100% {opacity: 0; transform: scale(5); display: none;}
}
