@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url(../font/NotoSansCJKjp-Thin.otf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url(../font/NotoSansCJKjp-Light.otf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url(../font/NotoSansCJKjp-DemiLight.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url(../font/NotoSansCJKjp-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url(../font/NotoSansCJKjp-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url(../font/NotoSansCJKjp-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url(../font/NotoSansCJKjp-Black.otf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url(../font/NotoSansCJKsc-Thin.otf);
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url(../font/NotoSansCJKsc-Light.otf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url(../font/NotoSansCJKsc-DemiLight.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url(../font/NotoSansCJKsc-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url(../font/NotoSansCJKsc-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url(../font/NotoSansCJKsc-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url(../font/NotoSansCJKsc-Black.otf);
  font-weight: 800;
  font-style: normal;
}
:root {
  --current-background: url("../img/bg/main-menu.png");
  /* --current-background: url("https://wallpaperaccess.com/full/28488.jpg"); */
  --main-font: 'Roboto', 'Noto Sans CJK JP', sans-serif;
  --cell-size: (2em);
  --peek-zone: .25;
  --matrix-width: 10;
  --matrix-height-base: 20;
}
@media only screen and (max-width: 800px) {
  :root {
    /* font-size: .7em; */
  }
}
@keyframes pulse-darkness {
  from {filter: brightness(1)}
  to {filter: brightness(0)}
}
@keyframes pulse {
  from {filter: brightness(1.1)}
  to {filter: brightness(0.9)}
}
@keyframes pulse-semi-strong {
  from {filter: brightness(1.45)}
  to {filter: brightness(0.55)}
}
@keyframes pulse-strong {
  from {filter: brightness(1.8)}
  to {filter: brightness(0.2)}
}
@keyframes pulse-opacity {
  from {opacity: 1}
  to {opacity: 0.25}
}
@keyframes bob {
  from {padding-left: .15em}
  to {padding-left: .35em}
}
@keyframes flash {
  from {background-color: #666}
  to {background-color: #aaa}
}
/*
.pulse {
  animation-name: pulse;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.pulse.spin-pulse {
  animation-name: pulse-strong;
  animation-duration: .1s;
  */
body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  /* background-color: #034efc; */
  background-color: #000;
  /* background-blend-mode: luminosity; */
  /* background-image: var(--current-background); */
  background-size: cover;
  /* background-position: center; */
  /* animation-name: flash; */
  animation-duration: .1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
#main {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  /* background-image: var(--current-background); */
  background-size: cover;
  width: 100%;
  height: 100%;
}
#description-text {
  font-size: 1.5rem;
}
#menu-container {
  font-size: 2rem;
  margin-left: 1rem;
  color: #fff;
}
#menu-container.hidden,
#game-container.hidden
{
  display: none;
}
#hold-container.hidden,
#main-next-container.hidden {
  opacity: 0;
}

#game-container.faded {
  opacity: 0.1;
}
#vertical-menu {
  margin-left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: transform .5s, opacity .5s;
}
#vertical-menu.hidden {
  transform: translateX(-8em);
  opacity: 0;
}
#vertical-menu li {
  list-style-type: none;
  list-style-position: inside;
  margin-top: .25em;
  margin-bottom: .25em;
  border-left-color: #fff;
  border-left-style: solid;
  border-left-width: 0em;
  margin-left: 0;
  transition: font-size .1s, border-left-width .1s;
  cursor: pointer;  
}
#description {
  width: 40vh;
  height: 25vh;
  font-size: 2.5vh;
  margin: auto;
}
#menu {
  width: 40vh;
  height: 70vh;
  font-size: 3.5vh;
  padding-right: 5em;
  margin: auto;
  text-align: center;
  padding: .3em 0;
  overflow-y: scroll;
}
.modal {
  font-size: 2em;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  background-color: #000a;
  padding: 1em 2em;
  border-radius: .2em;
  border-color: #fff;
  border-left-style: solid;
  border-left-width: .1em;
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
  z-index: 10;
}
.modal .header {
  font-weight: 100;
  text-align: center;
}
.modal .body {
  font-size: .7em;
}
.modal.hidden {
  display: none;
}
#menu > .control,
#menu > .slider-container,
#menu > .toggle-container
{
  padding: .2em .5em;
}
#menu > .toggle-container {
  position: relative;
  cursor: pointer;
  text-align: left;
}
#menu > .toggle-container .value-name {
  position: absolute;
  margin-top: .6em;
  padding-left: .6em;
  display: inline-block;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 500;
  letter-spacing: .3em;
}
#menu > .toggle-container .bubble {
  margin-top: .3em;
  border-color: #fff;
  border-width: .04em;
  border-style: solid;
  height: 1em;
  width: 1em;
  display: inline-block;
  border-radius: 100em;
}
#menu > .toggle-container .bubble.enabled {
  background-color: #fff;
}
#menu > .toggle-container.selected .bubble {
  border-color: #000;
}
#menu > .toggle-container.selected .bubble.enabled {
  background-color: #000;
}
.setting-text {
  text-align: left;
  text-transform: uppercase;
  font-size: .7em;
  letter-spacing: .1em;
}
.slidecontainer {
  width: 100%; 
}
#menu > .slider-container .value {
  display: inline-block;
  font-size: .8em;
  text-align: right;
  width: 2em;
  border-radius: .2em;
  border-color: #fff;
  border-width: .04em;
  border-style: solid;
  padding: .1em .4em .1em .4em;
  margin: .2em 0 .2em .8em;
  cursor: pointer;
}
#menu > .slider-container.selected .value {
  border-color: #000;

}
#menu > .slider-container .slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 70%; 
  height: 1em;
  background: #0000; /* Grey background */
  outline-color: #fff;
  outline-width: .1em;
  outline-style: solid;
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
#menu > .slider-container.selected .slider {
  outline-color: #000;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#menu > .slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2em; /* Set a specific slider handle width */
  height: 1em; /* Slider handle height */
  background: #fff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
#menu > .slider-container.selected .slider::-webkit-slider-thumb {
  background: #000; /* Green background */
}
#menu > .slider-container .slider::-moz-range-thumb {
  width: 2em; /* Set a specific slider handle width */
  height: 1em; /* Slider handle height */
  background: #fff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
#menu > .slider-container.selected .slider::-moz-range-thumb {
  background: #000; /* Green background */
}
#menu > .control.selected {
  background-color: transparent;
  color: #fff;
  border-left-width: .1em;
  border-left-style: solid;
  border-left-color: #fff;
}
#menu > .control > .label {
  text-align: left;
  text-transform: uppercase;
  font-size: .7em;
  letter-spacing: .3em;
}
#menu > .control > .control-bay {
  text-align: left;
}
#menu > .control > .control-bay > .set-control {
  cursor: pointer;
  font-size: .7em;
  display: inline-block;
  padding: .1em .5em;
  margin-right: .2em;
  border-color: #fff;
  border-width: .05em;
  border-radius: 100em;
  border-style: solid;
}
#menu > .control.selected > .control-bay > .set-control.selected {
  background-color: #fff;
  color: #000;
}
#menu > .control > .control-bay > .set-control.conflict {
  color: #eb4034; 
  border-color: #eb4034;
  animation-name: pulse;
  animation-duration: .2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#menu > .control.selected > .control-bay > .set-control.selected.conflict {
  background-color: #eb4034;
}
#menu > .btn,
#menu > .social {
  position: relative;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 300;
  display: inline-block;
  padding: .4em .7em;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: .4em;
  margin-left: .15em;
  margin-right: .15em;
}
#menu > .btn {
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
#menu > .disabled {
  opacity: .5;
  cursor: not-allowed;
}
#menu > .social {
  filter: invert(1);
  height: 2.5em;
}
#menu > .social img {
  height: 100%;
}
#menu .overline {
  text-transform: uppercase;
  font-size: .67em;
  font-weight: 500;
  letter-spacing: .4em;
  margin-top: .2em;
  margin-bottom: .4em;
}
@keyframes menu-selected {
  from {transform: translateY(0)}
  to {transform: translateY(-.1em)}
}
#menu > .selected {
  background-color: #fff;
  color: #000;
  animation-name: menu-selected;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#menu > .selected.disabled {
  animation-name: none;
}
#menu > .full-width {
  width: 95%;
}
#menu > .half-width {
  width: 46.5%;
}
#menu > .third-width {
  width: 25.8%;
}
@keyframes tetris-flash {
  from {filter: brightness(100%);}
  to {filter: brightness(800%);}
}
.tetris-flash {
  animation-name: tetris-flash;
  animation-duration: .05s;
  animation-iteration-count: 8;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.pulse {
  animation-name: pulse;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.pulse.spin-pulse {
  animation-name: pulse-strong;
  animation-duration: .1s;
}
.pulse.spin-pulse-mini {
  animation-name: pulse-semi-strong;
  animation-duration: .1s;
}
.hold-canvas.locked {
  filter: grayscale(100%);
}
@keyframes hold-flash {
  from {filter: brightness(200%)}
  to {filter: brightness(100%)}
}
.hold-container.flash {
  animation-name: hold-flash;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
}
#vertical-menu li.control-name {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: .2em;
  cursor: auto;
}
#vertical-menu li.selected {
  font-weight: 300;
  font-size: 2em;
  border-left-width: .05em;
  padding-left: .25em;
  animation-name: bob;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#logo-container {
  max-width: 15em;
  padding: 1em;
}
#button-hint-container {
  position: absolute;
  bottom: 1em;
  right: 1em;
  transition: transform .05s;
}
#button-hint-container table {
  font-size: .9em;
  height: 2em;
  display: inline-block;
  margin-left: 1em;
}
#button-hint-container table .label {
  color: #fff;
  font-size: 2em;
  padding-left: .2em;
}
#button-hint-container table .key {
  color: #111;
  background-color: #fff;
  width: 1.6em;
  text-align: center;
  font-size: 1.5em;
  vertical-align: middle;
}
#button-hint-container table .key.multi {
  font-size: 1em;
  font-weight: 700;
  width: 2.4em;
}
#button-hint-container table .key.big {
  width: 3.6em;
  
}
#button-hint-container table .key.controller {
  border-radius: 100%;
}
#button-hint-container table .key.dpad {
  font-size: 2em;
  background-color: transparent;
  color: white;
  width: 0;
}
#button-hint-container table .icon {
  font-family: 'Material Icons';
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 2px solid #000;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #bababa;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
#game-container {
  --matrix-height: calc(var(--matrix-height-base) + var(--peek-zone));
  font-size: calc(var(--cell-size)/2);
  text-align: center;
  vertical-align: middle;
  height: 100%;
}
.sprite-canvas {
  background-color: red;
}
.game {
  display: inline-block;
  padding: 2em;
  margin: auto;
  
}
.game.paused canvas {
  opacity: 0;
}
.game div {
  float: left;
}
.game div div {
  box-sizing: border-box;
  float: none;
}
.stats {
  height: calc(--matrix-height-base * 1.55);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.stats div.stat-group {
  text-align: right;
  margin-right: .45em;
}
.stats div.stat-group div {
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 1em;
  padding-right: .5em;
}
.stats div.stat-group div.big {
  color: #fff;
  font-size: 2.5em;
  font-weight: 200;
  margin-bottom: .4em;
  padding-right: .2em;

}
.stats label {
  display: inline-block;
  background-color: #fff;
  font-weight: bold;;
  font-size: 1.2em;
  padding: .2em 1em;
  margin-bottom: .4em;
  color: #111;
  text-transform: uppercase;
}
.game-left,
.game-right {
  margin-top: -.5em;
}
.game-center {
  position: relative;
  /* -webkit-backdrop-filter: blur(5em); */
  /* backdrop-filter: blur(5em); */
  width: calc(var(--matrix-width) * var(--cell-size));
  height: calc(var(--matrix-height) * var(--cell-size));
  background-size: calc(100% / var(--matrix-width)) calc(100% / var(--matrix-height));
  background-color: #000e;
  background-image: url(../img/tetrion/grid-bg-cross.svg);
  background-position: left bottom;
  outline-color: #fff;
  outline-style: solid;
  outline-width: .5em;
}
.game-right {
  text-align: left;

}
.game-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hold-container,
.main-next-container {
  padding-left: 1em;
  padding-right: 1em;
}
.hold-canvas,
.main-next-canvas {
  width: calc(4 * var(--cell-size));
  height: calc(4 * var(--cell-size));

}

.sub-next-container {
  --next-count: 6;
  display: inline-block;
  margin-left: 1em;
  padding: 0;
}
.sub-next-canvas {
  margin: 0;
  padding: 0;
  width: calc(4 * var(--cell-size) * .62);
  height: calc(4 * var(--cell-size) * var(--next-count) * .62);
}

.next-label,
.hold-label {
  color: #fff;
  margin: 0;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: .3em;
}
.next-label {
  text-align: left;
}
.hold-label {
  text-align: right;
  margin-right: -.3em;
}
.delay-time {
  position: absolute;
  color: white;
  text-align: right;
  width: 6em;
  bottom: -2.3em;
  left: -7em;
}
.manip-grid {
  position: absolute;
  display: grid;
  width: 105%;
  left: -.5em;
  bottom: -1.25em;
  justify-content: space-between;
}
.manip-pip {
  grid-row: 1;
  background-color: white;
  width: .5em;
  height: .5em;
  border-radius: 100%;
}
.manip-pip.disabled {
  background-color: #000a;
}
.lockdown-meter {
  position: absolute;
  width: 105%;
  left: -.5em;
  bottom: -2em;
}
.lockdown-meter.hidden,
.manip-grid.hidden,
.delay-time.hidden {
  display: none;
}
progress[value]  {
  -webkit-appearance: none;
  background-color: #000a;
  border: none;
  height: .5em;
  
}
progress[value="0"] {
  animation-name: pulse-darkness;
  animation-duration: .2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Chrome */
progress[value]::-webkit-progress-bar {
  background-color: transparent;
}
progress[value="0"]::-webkit-progress-bar {
  background-color: #f00;
}
progress[value]::-webkit-progress-value {
  background-color: #fff;
}

 
/* Firefox */
progress[value]::-moz-progress-bar {
  background-color: #fff;
}
.game .pause {
  display: none;
}
.game.paused .pause {
  animation-name: pulse-opacity;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  display: block;
  color: white;
  font-size: 3em;
  font-weight: 300;
  position: absolute;
  top: 2em;
  width: 100%;
}
.game .main-message {
  animation-name: pulse-opacity;
  animation-duration: .2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  display: block;
  color: white;
  font-size: 3em;
  font-weight: 300;
  position: absolute;
  top: 6em;
  width: 100%;
}
.game .main-message.dissolve {
  animation-name: dissolve;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes dissolve {
  0% {transform: scale(1);}
  20% {opacity: 1;}
  100% {opacity: 0; transform: scale(5); display: none;}
}
